<!-- templates/draw.html
displays deck, discard pile. player hand, and drawn card and give player option to exchange card or discard it -->
{% extends 'base.html' %}

{% block content%}
    {{hands}}
    <table>
        <tr>
            <td>
                <img src="{{url_for('static', filename= 'cardBack.jpeg')}}" alt="card back" height = 250 width=200>
                <p>Deck: {{cardsLeft}} cards left</p>
            </td>
            <td>
                <form action="/game/discard/{{ deckID }}/{{ cardsLeft }}/{{ card[0]['code'] }}">
                    <input type="image" src="{{url_for('static', filename= 'discard.jpeg')}}" name="saveForm" class="btTxt submit" id="saveForm" height=250 width=200/> 
                </form>
                <p>Discard pile</p>
                <form  action="/game/discard/{{ deckID }}/{{ cardsLeft }}/{{ card[0]['code'] }}">
                    <button class='btn btn-primary' type='submit'>Discard?</button>
                </form>
                
            </td>
        </tr>
        <tr>
            <td>    
                <form action="/game/exchange/{{ deckID }}/{{ cardsLeft }}/0/{{ card[0]['code'] }}">
                    <input type="image" src="{{url_for('static', filename= 'cardBack.jpeg')}}" name="saveForm" class="btTxt submit" id="saveForm" height=250 width=200/> 
                </form>
            </td>
            <td>
                <form action="/game/exchange/{{ deckID }}/{{ cardsLeft }}/1/{{ card[0]['code'] }}">
                    <input type="image" src="{{url_for('static', filename= 'cardBack.jpeg')}}" name="saveForm" class="btTxt submit" id="saveForm" height=250 width=200/> 
                </form>           
            <td>
                <img src="{{ card[0]['image'] }}" alt="{{ card[0]['code'] }}" height=250 width=200>
            </td>
            
        </tr>
        <tr>
            <td>
                <form action="/game/exchange/{{ deckID }}/{{ cardsLeft }}/2/{{ card[0]['code'] }}">
                    <input type="image" src="{{url_for('static', filename= 'cardBack.jpeg')}}" name="saveForm" class="btTxt submit" id="saveForm" height=250 width=200/> 
                </form>            
            <td>
                <form action="/game/exchange/{{ deckID }}/{{ cardsLeft }}/3/{{ card[0]['code'] }}">
                    <input type="image" src="{{url_for('static', filename= 'cardBack.jpeg')}}" name="saveForm" class="btTxt submit" id="saveForm" height=250 width=200/> 
                </form>           
                
        </tr>
    </table>

{% endblock %}