<!-- templates/rules.html -->
<!-- page to display the rules of reds to the user -->
{% extends 'base.html' %}

{% block content %}
<form action='/'>
    <button class='btn btn-primary' type='submit'>Back to home</button>
</form>

<ol>
    <li>The goal of the game is to get the lowest scoring hand possible</li>
    <li>Every player hand has 4 cards, set up in a 2x2 grid in front of them</li>
    <li>Players can only look at the 2 cards closest to them ONCE</li>
    <li>Card Values:</li>
    <ol>
        <li>>numbers are worth their  numerical value</li>
        <li>>Jokers are worth 0</li>
        <li>>Aces are worth 1</li>
        <li>>Face cards are worth 10</li>
        <li>>Exception to that is Red Kings(king of hearts and diamonds) which are worth -2</li>
    </ol>
    <li>Every Turn a player has 1 action of a possible 3 actions:</li>
    <ol>
        <li>Draw a card from deck and exchange it with one of their cards if they want to or discard it face up</li>
        <li>Take the top card of the discard pile and exchange it with one of their cards</li>
        <li>Declare: means you think you have lowest hand, your cards are locked in and everyone takes one more turn before comparing cards</li>
    </ol>

</ol>

{% endblock %}  